<!DOCTYPE html>
<html>
    <head>
        <title>Sinatra ERB Example</title>
    </head>
    <body>
        <h1>Hello, Sinatra with ERB!</h1>
        <%# Embedded Ruby code goes here %>

        <a href="/ebay_auth" >eBay Authentication</a>
    </body>
</html>